<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ColorBase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/container.css" type="text/css">
    <link rel="stylesheet" href="/css/fragments/fragments.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
<div class = "header" th:insert="~{fragments/header :: header()}"></div>


<div class="my_container" id="colours_container">
    <div th:if="${colours.size() == 0}" class="no_colours">No colours on this page</div>


    <button th:if="${admin}" type="button" class="unapproved_colour_button btn btn-danger button_unapproved_colours">View unapproved colours</button>


    <div th:each="colour : ${colours}" class = "colour"
                 th:insert="~{fragments/colour :: colour(${colour}, null)}"
                 th:data-id="${colour.id}"
                 th:id="'colour_'+${colour.id}">

            </div>
</div>


<script>

    $(function () {

        // var container = document.getElementById("colours_container");

        $(".colour").click(function(e){
            var id = e.currentTarget.getAttribute("data-id");
            window.open("/colour/"+id, "_self");
        });

        $(".button_unapproved_colours").click(function(e){
            window.open("/unapproved_colours", "_self");
        });

    });
</script>

</body>
