<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ColorBase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/container.css" type="text/css">
    <link rel="stylesheet" href="/css/fragments/fragments.css" type="text/css">
    <link rel="stylesheet" href="/css/set.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
<div class = "header" th:insert="~{fragments/header :: header()}"></div>


<div class="my_container" id="set_container">

    <div th:data-id="${set.id}">
        <div class="col1">
            <img class = "set_image" th:if="${set.image}" th:src="${set.image}">
            <img class = "set_image" th:unless="${set.image}" src="/img/no_image.jpg">
        </div>
        <div class="col2">
            <label class = "set_name" th:text="${set.name}"></label>
            <label class = "set_info" th:text="${set.brand.name}"></label>
            <label class = "set_info" th:if="${set.brand.country}" th:text="${set.brand.country}"></label>
            <label class = "set_small_info" th:text="'Capacity: '+${set.capacity}"></label>

        </div>

    </div>

<div class="horizontal-divider"></div>

    <div th:if="${set.colours.size() == 0}" class="no_colours">Currently we can't display colours from this set, sorry:(</div>



    <div th:each="colour : ${set.colours}" class = "colour"
             th:insert="~{fragments/colour :: colour(${colour}, null)}"
             th:data-id="${colour.id}"
             th:id="'colour_'+${colour.id}">

        </div>


</div>


<script>

    $(function () {
        $(".colour").click(function(e){
            var id = e.currentTarget.getAttribute("data-id");
            window.open("/colour/"+id, "_self");

        });


    });
</script>

</body>
