<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>


<div th:fragment="set(set)">


    <img class = "set_image" th:if="${set.image}" th:src="${set.image}">
    <img class = "set_image" th:unless="${set.image}" src="/img/no_image.jpg">

    <div >
        <label class = "set_name" th:text="${set.name}"></label>
        <label class = "set_info" th:text="${set.brand.name}"></label>
        <label class = "set_info" th:text="${#lists.size(set.colours)}+' colours to view'"></label>

    </div>

</div>
</body>
</html>