<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ColorBase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/container.css" type="text/css">
    <link rel="stylesheet" href="/css/fragments/fragments.css" type="text/css">
    <link rel="stylesheet" href="/css/collections.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
<div class = "header" th:insert="~{fragments/header :: header()}"></div>


<div class="my_container" id="collections_container">

    <button type="button" class="collection_button btn btn-success add_collection">Add collection</button>

    <div th:if="${collections.size() == 0}" class="no_collections">You don't have collections</div>

    <div th:each="collection : ${collections}" class = "collection"
         th:data-id="${collection.id}">

        <div class = collection_name th:text="${collection.name}"></div>
        <button th:data-id="${collection.id}" type="button" class="collection_button btn btn-danger delete_collection">Delete collection</button>


        <div th:if="${collection.colours.size() == 0}" class="no_colours">You don't have colours in this collection</div>

        <div th:each="colour : ${collection.colours}" class = "colour"
             th:insert="~{fragments/colour :: colour(${colour}, 'collections')}"
             th:data-id="${colour.id}"
             th:id="'colour_'+${colour.id}">



        </div>

    </div>
</div>


<script>

    $(function () {

        var container = document.getElementById("collections_container");

        $(".delete_colour_from_collection").click(function(e){
            var colour = e.currentTarget;

            var colour_id = e.currentTarget.getAttribute("data-id");

            var collection = e.currentTarget;
            while (!collection.classList.contains('collection')) {
                collection = collection.parentElement;
            }

            var collection_id = collection.getAttribute("data-id");


            var data = {
                colour_id: colour_id,
                collection_id: collection_id
            };
            $.ajax({
                type: 'delete',
                url: '/removeColourFromCollection',
                data: JSON.stringify(data),

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response, status) {
                    console.log('success')

                    while (!colour.classList.contains('colour')) {
                        colour = colour.parentElement;
                    }

                    colour.nextSibling.remove();
                    colour.remove();
                    if(collection.childNodes.length == 5){

                        let div = document.createElement('div');
                        div.classList.add('no_colours');
                        let text = document.createTextNode('You don\'t have colours in this collection');
                        div.appendChild(text);

                        collection.appendChild(div);
                    }
                    console.log(collection.childNodes)


                },
                error: function (request) {
                    alert(request.responseText);
                }
            });

        });

        $(".delete_collection").click(function(e){

            var collection = e.currentTarget;

            var collection_id = collection.getAttribute("data-id");


            var data = {
                collection_id: collection_id
            };
            $.ajax({
                type: 'delete',
                url: '/removeCollection',
                data: JSON.stringify(data),

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response, status) {
                    console.log('success')
                    while (!collection.classList.contains('collection')) {
                        collection = collection.parentElement;
                    }
                    collection.nextSibling.remove();
                    collection.remove();
                    console.log(container.childNodes.length)
                    if(container.childNodes.length==3) {
                        let div = document.createElement('div');
                        div.classList.add('no_collections');
                        let text = document.createTextNode('You don\'t have collections');
                        div.appendChild(text);

                        container.appendChild(div);
                    }

                },
                error: function (request) {
                    alert(request.responseText);
                }
            });

        });

        $(".add_collection").click(function(e){
            window.open("/add_collection", "_self");
        });

        $(".colour").click(function(e){
            if(!e.target.classList.contains('delete_colour_from_collection')){
                var id = e.currentTarget.getAttribute("data-id");
                window.open("/colour/"+id, "_self");
            }
        });



    });
</script>

</body>
